body {
    font-family: sans-serif;
}

ul.nav li > .nav-link:hover,
ul.nav li > .nav-link:focus {
    color: #ffc107 !important;
}

main {
    padding: 35px 15px 15px;
}

form.login,
form.signup {
    max-width: 450px;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 20px -10px #5a5a5a;
}

form.login legend,
form.signup legend {
    font-weight: bold;
}

form.general .form-row,
form.login .form-row,
form.signup .form-row {
    margin: 10px 0;
}

