/* Resetting and Custom CSS */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
}

main {
    padding: 15px;
}

form.login {
    max-width: 400px;
}

form.login > div {
    margin: 10px 0;
}